.fond{
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(200, 50%, 80%));
}
.inscription {
    position: relative;
  }
.titre_inscription{
    position: absolute;
    margin-left: 38px;
    margin-top: 10px;
    color : #668738;
    font-size : 20px;
}




/*****************************Connexion**************************************/
hr {
    position : relative;
    width: 60%;  
    bottom : 20px;
}
.texte_connexion{
    margin-top: 20px;
    text-align: center;
    font-size: 33px;
    color:#668738;
}

.Formulaire_Connexion{
    background-color: white;
    position: absolute;  
    top: 50%; 
    left: 50%;  
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);  
    border: 1px solid black;
    border-radius: 5px;
}



.message_erreur_connexion {
    position: absolute;
    color: red;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 40px;
    top: 65%;
    font-style: italic;
  }

.champ_connexion{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;  
    height: 40px;
    font-size: 1em;
    width: 80%;
    border: 1px solid #2596be;
    border-radius: 5px;

  }

  
.confirmer_connexion{
    position : relative;
    background-color: #4CAF50;   
    color: white;  
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    left : 230px;
    top : 40px; 
      
}

.redirection_inscription{
    position: relative;
    color : blue;
    top: 50px;
    left:15px;
    
}
.redirection_connexion{
    position: relative;
    color: blue;
    left: 10px;
    top: 15px;
}

/***************************Inscription*************************/




  fieldset{
    background-color: white;
    position: absolute;  
    top: 50%; 
    left: 50%;  
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);  
    border: 1px solid black;
    border-radius: 5px;
}
legend{
    color : #668738;
    font-size: 33px;
}


.champ_inscription{
    position: relative;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;  
    height: 40px;
    font-size: 1em;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
  
}

.champ_inscription_boutons_radio{
    position: relative;
    padding-top: 5px;
    margin-bottom: 40px;  
}

.bouton_confirmer_inscription{
    position : relative;
    background-color: #4CAF50;   
    color: white;  
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    left: 420px;
    top:10px;
}


.texte_inscription{
    font-size: 12px;
    margin-left: 40px;
    margin-top: 20px;

}

.message_erreur_inscription{
  position: absolute;
  color: red;
  font-size: 13px;
  margin-left: 36%;
  margin-top: 29%;
  font-style: italic;
  z-index: 9999;
}

/***************************************************Bouton Deconnexion***********************************************************/

.btn-deconnexion {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-deconnexion:hover {
    background-color: #d32f2f;
}
